# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Build output
.nuxt
dist

# Logs
*.log

# Environment files
.env
.env.*

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Docker-related files
Dockerfile
docker-compose.yml