# Ignore the vendor folder
/vendor

# Ignore node_modules
/node_modules

# Ignore compiled files
/public/storage
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views

# Ignore environment files (but include .env)
.env.*
!.env

# Ignore IDE and editor files
/.idea
/.vscode
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore PHPUnit cache
.phpunit.cache
**/.phpunit.result.cache

# Ignore Homestead and authentication files
**/Homestead.json
**/Homestead.yaml
**/auth.json

# Ignore npm and yarn logs
**/npm-debug.log
**/yarn-error.log

# Ignore Fleet files
.fleet